<nav class="navbar nav-pills navbar-expand-sm navbar-light bg-light shadow">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <ul class="nav">
      <li class="nav-item me-3"><a class="nav-link fw-bold <%=currentPath === '/' ? 'active' : ''%>" href="/"><i class="fa-solid fa-house"></i> Home</a></li>
      <% if(user) { %>
        <li class="nav-item me-3"><a class="nav-link fw-bold <%= currentPath.startsWith('/subscriptions') ? 'active' : '' %>" href="/subscriptions"><i class="fa-solid fa-tags"></i> Subscriptions</a></li>
        <li class="nav-item"><a class="nav-link fw-bold <%= currentPath.startsWith('/transactions') ? 'active' : '' %>" href="/transactions"><i class="fa-solid fa-credit-card"></i> Transactions</a></li>
      <% } %>
    </ul>
    <ul class="nav">
      <% if(user){ %>
        <li class="nav-item"><a class="nav-link fw-bold" href="/auth/sign-out"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign Out</a></li>
      <% } else { %>
        <li class="nav-item me-3"><a class="nav-link fw-bold <%= currentPath.startsWith('/auth/sign-in') ? 'active' : '' %>" href="/auth/sign-in"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign In</a></li>
        <li class="nav-item"><a class="nav-link fw-bold <%= currentPath.startsWith('/auth/sign-up') ? 'active' : '' %>" href="/auth/sign-up"><i class="fa-solid fa-user-plus"></i> Sign Up</a></li>
      <% } %>
    </ul>
  </div>
</nav>
