<div class="container-fluid">
  <div class="row m-3">
    <div class="col d-flex justify-content-start">
      <p class="mb-0 fw-bold ">
        <a class="text-decoration-none" href="/">Home</a> / <a class="text-decoration-none" href="/subscriptions">Subscriptions</a> / <a class="text-decoration-none" href="/subscriptions/<%= currentTransaction.subscription._id %>"> <%= currentTransaction.subscription.name %></a> / <a class="text-decoration-none" href="/transactions/<%= currentTransaction.subscription._id %>/new"> Transaction Edit</a>
      </p>
    </div>
  </div>
</div>
<div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4 ">
        <div class="bg-white p-4 rounded-4 shadow">
          <h2 class="mb-3 fw-bold text-center">Edit transaction</h2>
          <% const formatDate=(date)=> {
            const d = new Date(date);
            return d.toISOString().split('T')[0];
            };
        %>
          <form action="/transactions/<%=  currentTransaction._id %>?_method=PUT" method="post">
            <div class="mb-3">
                <label for="amount" class="form-label mb-2">Amount</label>
              <input type="Number" name="amount" id="amount" placeholder="amount" class="form-control rounded-3" value="<%= currentTransaction.amount %>">
            </div>
            <div class="mb-3">
                <label for="datePaid">Date Paid</label>
              <input type="date" name="datePaid" id="datePaid" placeholder="datePaid" class="form-control rounded-3" value="<%= formatDate(currentTransaction.datePaid) %>">
            </div>
            <div class="mb-4">
            <label for="paid" class="form-label">Is It Paid?</label>
              <select name="paid" id="paid" class="form-select rounded-3">
                <option value="True" <%= currentTransaction.paid === 'true' ? 'selected' : '' %>>True</option>
                <option value="False" <%= currentTransaction.paid === 'false' ? 'selected' : '' %>>False</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary w-100 rounded-3">Edit Transaction</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  