<div class="container-fluid">
  <div class="row m-3">
    <div class="col d-flex justify-content-start">
      <p class="mb-0 fw-bold ">
        <a class="text-decoration-none" href="/">Home</a> / <a class="text-decoration-none" href="/subscriptions">Subscriptions</a>
      </p>
    </div>
    <div class="col d-flex justify-content-end">
      <a href="/subscriptions/new">
        <button class="btn btn-outline-primary shadow-lg">Add A Subscription</button>
      </a>
    </div>
  </div>
</div>
<h2 class="fw-semibold text-center text-primary">All Your Subscriptions</h2>
<div class="container-fluid mt-5">
  <% if (userSubscriptions && userSubscriptions.length > 0) { %>
    <div class="row g-4 justify-content-start">
      <% userSubscriptions.forEach((subscription) => { %>
        <div class="col-4">
          <div class="card h-100 shadow rounded-4 border-0">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title mb-3 text-primary fw-bold">
                <i class="fas fa-clipboard-list me-2"></i> <%= subscription.name %>
              </h5>
              <p class="mb-2"><strong>Amount: <span class="text-danger"><%= subscription.amount.toFixed(2) %> BD</span></strong></p>
              <p class="mb-2"><strong>Billing Cycle:</strong> <%= subscription.billingCycle %></p>
              <p class="mb-2">
                <strong>Status:</strong>
                <span class="badge bg-<%= 
                  subscription.status === 'Active' ? 'success' : 
                  subscription.status === 'Canceled' ? 'danger' : 'secondary' %>">
                  <%= subscription.status %>
              </p>
              <p class="mb-2"><strong>Next Billing:</strong> <%= subscription.nextBillingDate.toDateString() %></p>
              <p class="mb-2"><strong>Category:</strong> <%= subscription.category %></p>
              <% if (subscription.notes) { %>
              <p class="mb-3">
                <strong>Note:</strong>
                <%= subscription.notes %>
              </p>
              <% } %>
              <div class="mt-auto">
                <a href="/subscriptions/<%= subscription._id %>">
                  <button class="btn btn-outline-primary w-100">
                    <i class="fas fa-info-circle me-1"></i> More Info
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
      <p class="text-center text-capitalize fw-bold text-muted">
        You have not added any subscriptions yet.
      </p>
      <a href="/subscriptions/new">
        <button class="btn btn-outline-primary">Add A Subscription</button>
      </a>
    </div>
  <% } %>
</div>
