<div class="contianer">
  <h4><%= subscriptionInDatabase.name %></h4>
  <h4><%= subscriptionInDatabase.amount %></h4>
  <h4><%= subscriptionInDatabase.billingCycle %></h4>
  <h4><%= subscriptionInDatabase.nextBillingDate %></h4>
  <h4><%= subscriptionInDatabase.category %></h4>
  <h4><%= subscriptionInDatabase.status %></h4>
  <h4><%= subscriptionInDatabase.notes %></h4>
  <h4><%= subscriptionInDatabase.outstandingAmount %></h4>
</div>